<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <hr>
          <a class="btn btn-default btn-link" href="dashboard">Dashboard</a> |
          <a class="btn btn-default btn-link" href="users">Users</a> |
          <a class="btn btn-default btn-link" href="try-socket">Try Visual a Stream Data</a>

      </div>
    </div>
  </div>
  </body>
</html>
